In [2]:
import pandas as pd
import numpy as np

In [3]:
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)
test_data

{'A': array([ 0.10390766,  0.94451251,  0.11614151]),
 'B': 1,
 'C': 'foo',
 'D': Timestamp('2001-01-02 00:00:00'),
 'E': 0    1.0
 1    1.0
 2    1.0
 dtype: float32,
 'F': False,
 'G': 0    1
 1    1
 2    1
 dtype: int8}

In [4]:
s=pd.Series([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])
s.dtypes

dtype('O')

In [5]:
range(22)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
dft = pd.DataFrame(test_data)
dft

          A  B    C          D    E      F  G
0  0.103908  1  foo 2001-01-02  1.0  False  1
1  0.944513  1  foo 2001-01-02  1.0  False  1
2  0.116142  1  foo 2001-01-02  1.0  False  1

In [7]:
dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [8]:
s = pd.Series([1,2,3,4,5,6.0])
s.dtypes

dtype('float64')

In [9]:
dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [10]:
s = pd.Series([1, 3, 9, .33, False, '03-20-1978', np.arange(22)])
s.dtypes

dtype('O')

In [11]:
# Create some more test data
df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0  2.696520 -0.215705 -0.966868  0.004043
1  1.320553 -1.765505  0.382276  1.619918
2 -1.710452  1.623721  0.168936 -0.392158
3 -1.705598 -1.400015  1.855657 -1.035687
4  0.145232 -0.008313 -0.520994 -0.021096

In [12]:
df.apply(np.sqrt)

          a         b         c         d
0  1.642108       NaN       NaN  0.063586
1  1.149153       NaN  0.618285  1.272760
2       NaN  1.274253  0.411018       NaN
3       NaN       NaN  1.362225       NaN
4  0.381093       NaN       NaN       NaN

In [13]:
df.apply(np.mean,axis=0) #### Remember that axis=0 means columns here since Columns is the default

a    0.149251
b   -0.353163
c    0.183801
d    0.035004
dtype: float64

In [14]:
df.apply(np.mean,axis=1) #### Remember that mean of rows means axis=1 for apply function

0    0.379497
1    0.389311
2   -0.077488
3   -0.571411
4   -0.101293
dtype: float64

In [15]:
data = np.random.randint(0, 7, size = 50)  ## starting with 0 to 7 create 50 random integers.
data

array([1, 3, 1, 3, 0, 0, 3, 3, 2, 2, 1, 0, 6, 6, 2, 0, 5, 2, 3, 4, 3, 0, 5,
       3, 3, 2, 6, 6, 6, 1, 4, 4, 6, 5, 2, 6, 5, 2, 2, 4, 2, 6, 0, 5, 2, 2,
       3, 3, 4, 3])

In [16]:
pd.Series(data).value_counts()  ### Only a Dataframe or a Series can have Value Counts

3    11
2    11
6     8
0     6
5     5
4     5
1     4
dtype: int64

In [17]:
sales = pd.read_csv('./datasets/sales.csv',index_col=None)
sales.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

In [18]:
func = lambda x: x+1
sales.volume_sold = sales.volume_sold.apply(lambda x: x+1)
sales.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    19.420760    93.802281      337166.53      337804.05
1     5.776510    21.082425       22351.86       21736.63
2    17.602401    93.612494      277764.46      306942.27
3     5.296111    16.824704       16805.11        9307.75
4     9.156023    35.011457       54411.42       58939.90

In [19]:
sales.volume_sold.value_counts()

17.059971    1
12.232324    1
7.290971     1
14.635150    1
6.047530     1
6.906274     1
7.618174     1
10.292241    1
5.200122     1
4.210727     1
12.997117    1
8.200364     1
46.556096    1
6.778097     1
5.385455     1
11.804337    1
9.017945     1
16.697651    1
7.654407     1
9.300180     1
7.537069     1
7.433606     1
5.776510     1
11.186622    1
9.156023     1
6.531061     1
6.294400     1
12.697456    1
15.439435    1
8.390988     1
            ..
8.682494     1
10.127095    1
11.292681    1
6.324497     1
5.296111     1
10.348477    1
13.581695    1
13.395919    1
52.800686    1
12.625606    1
11.677295    1
11.252870    1
5.941294     1
15.606750    1
30.878030    1
11.331430    1
8.434821     1
8.196779     1
8.785867     1
12.091709    1
13.509967    1
6.147729     1
13.350027    1
6.388070     1
9.555078     1
12.840780    1
6.723896     1
8.437252     1
5.456466     1
11.705327    1
Name: volume_sold, dtype: int64