<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Independent Practice: Grouping Data with `pandas`

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the United States. This lab will give you practice performing `.groupby()` operations to split data along multiple dimensions. You'll also investigate patterns between subsets of the data using basic aggregation.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [2]:
ufo_csv = '../datasets/ufo.csv'

In [4]:
# A:

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

#### 2. How many null values exist per column?

In [ ]:
# A:

#### 3. Which city has the most observations?

In [ ]:
# A:

#### 4. What is the observation count per shape?

In [ ]:
# A:

#### 5. Create a subset of the data that contains the top five cities and the top five shapes.

In [ ]:
# A:

#### 6. Using this subset, find the percent of each shape seen in each city.

In [ ]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [ ]:
# A: