# For loop vs. List comprehension

## Loop

In [1]:
ages = [43,65,21,77,10]
ages_plus_one = []

for age in ages:
    ages_plus_one.append(age+1)

In [2]:
print(ages)
print(ages_plus_one)

[43, 65, 21, 77, 10]
[44, 66, 22, 78, 11]

## List comprehension

In [3]:
ages_plus_one = [age+1 for age in ages]

In [4]:
print(ages)
print(ages_plus_one)

[43, 65, 21, 77, 10]
[44, 66, 22, 78, 11]

# If-else

Basic if-else

In [5]:
["adult" if age>19 else "teen" for age in ages]

['adult', 'adult', 'adult', 'adult', 'teen']

In [28]:
# WRONG
[if age>19 "adult"  else "teen" for age in ages]

SyntaxError: invalid syntax (<ipython-input-28-97f764cfeba7>, line 1)

### Complex if-else

In [6]:
# the syntax is tricky!
["expert" if age>50 else "adult" if age>19 else "teen" for age in ages]

['adult', 'expert', 'adult', 'expert', 'teen']

In [7]:
# easier to read(?)
["expert" if age>50 else ("adult" if age>19  else "teen") for age in ages]

['adult', 'expert', 'adult', 'expert', 'teen']

*NOTE: if you have to use more than 2-3-4 if/else, probably you'd better use a for loop*

# Advanced list comprehension

In [8]:
#you can use a string
["a boring string" for age in ages]

['a boring string',
 'a boring string',
 'a boring string',
 'a boring string',
 'a boring string']

In [9]:
#you can use a tuple
[(i,age) for i,age in enumerate(ages)]

[(0, 43), (1, 65), (2, 21), (3, 77), (4, 10)]

In [10]:
#you can use any object (i.e. a range())
[range(5) for age in ages]

[range(0, 5), range(0, 5), range(0, 5), range(0, 5), range(0, 5)]

In [29]:
#why not using another list? I have visibility on "i"!

[i for i in range(len(ages))]

[0, 1, 2, 3, 4]

In [30]:
[[n for n in range(i)] for i in range(len(ages))]

[[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

In [12]:
# same as [ages[:i] for i in range(len(ages))]
[[ages[n] for n in range(i)] for i in range(len(ages))]

[[], [43], [43, 65], [43, 65, 21], [43, 65, 21, 77]]

# Filtering

In [13]:
# simple+clean approach
new_ages = [age for age in ages if age>=35]

In [14]:
# less simple + less clean approach
[age for age in [x for x in ages if x>=35]]

[43, 65, 77]

# Dictionary Comprehension

In [15]:
ages2squared = {}
for age in ages:
    ages2squared[age] = age**2
ages2squared

{43: 1849, 65: 4225, 21: 441, 77: 5929, 10: 100}

In [16]:
[age for age in ages]

[43, 65, 21, 77, 10]

In [17]:
{age:age**2 for age in ages}

{43: 1849, 65: 4225, 21: 441, 77: 5929, 10: 100}

In [18]:
# using tuples
dict([(age,age**2) for age in ages])

{43: 1849, 65: 4225, 21: 441, 77: 5929, 10: 100}

In [26]:
# zip

list1 = ['a','b','c']
list2 = [1,2,3]

for t in zip(list1,list2):
    print(t)

('a', 1)
('b', 2)
('c', 3)

In [27]:
dict(zip(list1,list2))

{'a': 1, 'b': 2, 'c': 3}