<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## List and Dictionary Comprehensions: Demo/Exercise

_Author: Kiefer Katovich (SF)_

---

This codealong covers the essentials of performing list and dictionary comprehensions in Python.

In [1]:
import numpy as np
import string

---

### Section 1: Basic list comprehensions

##### 1-A) Add 1 to every element in the list.

In [2]:
numbers = [0,1,2,3,4,5,6,7,8,9]
# for-loop version:
numbers_new = []
for n in numbers:
    numbers_new.append(n+1)
print(numbers_new)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# list comprehension version
[n+1 for n in numbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Section 2: List comprehension: Conditional logic

##### 2-A) "Binarize" `n` so that any value greater than or equal to the mean of `n` is 1, otherwise 0.

In [4]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]

In [5]:
# for loop
n_new = []
n_mean = float(sum(n))/len(n)
for ni in n:
    if ni>=n_mean:
        n_new.append(1)
    else:
        n_new.append(0)
print(n_new)

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

In [6]:
# list comprehension
n_mean = float(sum(n))/len(n)
print(n_mean)

[1 if ni>=n_mean else 0 for ni in n]

19.666666666666668

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

##### 2-B) Swap 1s to 0s and 0s to 1s. If the element is neither a 0 nor 1, make it `None`.

In [7]:
n = [0, 1, 0, 1, 2, 3, 5, 2, 1, 0]

In [8]:
# for loop
# for loop
n_new = []
for ni in n:
    if ni==0:
        n_new.append(1)
    elif ni==1:
        n_new.append(0)
    else:
        n_new.append(None)
print(n_new)

[1, 0, 1, 0, None, None, None, None, 0, 1]

In [9]:
# list comprehension
print([1 if ni==0 else (0 if ni==1 else None) for ni in n])

[1, 0, 1, 0, None, None, None, None, 0, 1]

---

### Section 3: Nested list comprehensions

##### 3-A) Get the square and square root of all non-negative numbers in the list.

In [10]:
n = [0, 1, 50, -23, -1, 75, -3]

In [11]:
# for loop

In [12]:
# list comprehension
print([ni for ni in n])
print([ni for ni in n if ni>0])
print([(ni*ni, np.sqrt(ni)) for ni in n if ni>0])

[0, 1, 50, -23, -1, 75, -3]
[1, 50, 75]
[(1, 1.0), (2500, 7.0710678118654755), (5625, 8.660254037844387)]

---

### Section 4: Functions in list comprehensions

##### 4-A) Combine elements of these two lists item by item into list pairs.

In [13]:
a = ['a','b','c','d']
z = ['z','y','x','w']

In [14]:
# for loop
tuples = []
for ai in a:
    for zi in z:
        tuples.append((ai,zi))
tuples

[('a', 'z'),
 ('a', 'y'),
 ('a', 'x'),
 ('a', 'w'),
 ('b', 'z'),
 ('b', 'y'),
 ('b', 'x'),
 ('b', 'w'),
 ('c', 'z'),
 ('c', 'y'),
 ('c', 'x'),
 ('c', 'w'),
 ('d', 'z'),
 ('d', 'y'),
 ('d', 'x'),
 ('d', 'w')]

In [15]:
[(ai,zi) for zi in z for ai in a]

[('a', 'z'),
 ('b', 'z'),
 ('c', 'z'),
 ('d', 'z'),
 ('a', 'y'),
 ('b', 'y'),
 ('c', 'y'),
 ('d', 'y'),
 ('a', 'x'),
 ('b', 'x'),
 ('c', 'x'),
 ('d', 'x'),
 ('a', 'w'),
 ('b', 'w'),
 ('c', 'w'),
 ('d', 'w')]

In [16]:
# list comprehension version:

print([(ai,bi) for ai,bi in zip(a,z)])

[('a', 'z'), ('b', 'y'), ('c', 'x'), ('d', 'w')]

##### 4-B) Pair each index and element in this list into list pairs.

In [17]:
a = ['a','b','c','d']

In [18]:
# list comprehension

print([(i,e) for i,e in enumerate(a)])

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

##### 4-C)  Multiply each element in `list_one` by its index and divide by its counterpart in `list_two`.

In [19]:
list_one = [10, 15, 20, 25, 40]
list_two = [1, 2, 3, 4, 5]

In [20]:
# list comprehension
[(element*i)/list_two[i] for (i,element) in enumerate(list_one)]

[0.0, 7.5, 13.333333333333334, 18.75, 32.0]

---

### Section 5: Nested list comprehensions

##### 5-A) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [use `for` loop iteration].

In [22]:
import string
vowels = ['a', 'e', 'i', 'o', 'u']
alphabet = string.ascii_lowercase
print(alphabet)

# for example:
# ['ba','be','bi','bo','bu','ca','ce','ci', ...etc]

abcdefghijklmnopqrstuvwxyz

In [23]:
consonants = [l for l in alphabet if l not in vowels]
print(consonants)

['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

In [ ]:
# solution with for loop

##### 5-B) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [using list comprehension].

In [24]:
[c+v for v in vowels for c in consonants]

['ba',
 'ca',
 'da',
 'fa',
 'ga',
 'ha',
 'ja',
 'ka',
 'la',
 'ma',
 'na',
 'pa',
 'qa',
 'ra',
 'sa',
 'ta',
 'va',
 'wa',
 'xa',
 'ya',
 'za',
 'be',
 'ce',
 'de',
 'fe',
 'ge',
 'he',
 'je',
 'ke',
 'le',
 'me',
 'ne',
 'pe',
 'qe',
 're',
 'se',
 'te',
 've',
 'we',
 'xe',
 'ye',
 'ze',
 'bi',
 'ci',
 'di',
 'fi',
 'gi',
 'hi',
 'ji',
 'ki',
 'li',
 'mi',
 'ni',
 'pi',
 'qi',
 'ri',
 'si',
 'ti',
 'vi',
 'wi',
 'xi',
 'yi',
 'zi',
 'bo',
 'co',
 'do',
 'fo',
 'go',
 'ho',
 'jo',
 'ko',
 'lo',
 'mo',
 'no',
 'po',
 'qo',
 'ro',
 'so',
 'to',
 'vo',
 'wo',
 'xo',
 'yo',
 'zo',
 'bu',
 'cu',
 'du',
 'fu',
 'gu',
 'hu',
 'ju',
 'ku',
 'lu',
 'mu',
 'nu',
 'pu',
 'qu',
 'ru',
 'su',
 'tu',
 'vu',
 'wu',
 'xu',
 'yu',
 'zu']

---

### Section 6: Dictionary comprehensions

##### 6-A) Make a dictionary in which keys are animals and values are lists, storing the [ASCII](http://www.asciitable.com/) number value of each character in the key.

Hint: Use the **`ord()`** function to convert characters into their ASCII values.

In [25]:
keys = ['dog', 'cat', 'bird', 'horse']

In [26]:
ord('a')

97

In [27]:
[ord(c) for c in 'a nice string']

[97, 32, 110, 105, 99, 101, 32, 115, 116, 114, 105, 110, 103]

In [28]:
[[ord(c) for c in k] for k in keys]

[[100, 111, 103],
 [99, 97, 116],
 [98, 105, 114, 100],
 [104, 111, 114, 115, 101]]

In [29]:
[(k,[ord(c) for c in k]) for k in keys]

[('dog', [100, 111, 103]),
 ('cat', [99, 97, 116]),
 ('bird', [98, 105, 114, 100]),
 ('horse', [104, 111, 114, 115, 101])]

In [30]:
dict([(k,[ord(c) for c in k]) for k in keys])

{'dog': [100, 111, 103],
 'cat': [99, 97, 116],
 'bird': [98, 105, 114, 100],
 'horse': [104, 111, 114, 115, 101]}

In [31]:
{k:[ord(c) for c in k] for k in keys}

{'dog': [100, 111, 103],
 'cat': [99, 97, 116],
 'bird': [98, 105, 114, 100],
 'horse': [104, 111, 114, 115, 101]}

##### 6-B) Create a dictionary with these column names and the corresponding column values.

In [32]:
column_names = ['height','weight','is_male']
values = [[62, 54, 60, 50], 
          [180, 120, 200, 100], 
          [True, False, True, False]]

In [33]:
for i,c in enumerate(column_names):
    print(i,c)

0 height
1 weight
2 is_male

In [34]:
[(i,c) for i,c in enumerate(column_names)]

[(0, 'height'), (1, 'weight'), (2, 'is_male')]

In [36]:
# Solution 1 - "official" one
{c:values[i] for i,c in enumerate(column_names)}

{'height': [62, 54, 60, 50],
 'weight': [180, 120, 200, 100],
 'is_male': [True, False, True, False]}

In [40]:
# Solution 2 - workaround
dict([(c,values[i]) for i,c in enumerate(column_names)])

{'height': [62, 54, 60, 50],
 'is_male': [True, False, True, False],
 'weight': [180, 120, 200, 100]}