<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [118]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=6, micro=6, releaselevel='final', serial=0)

In [119]:
# Enter student names here:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

---

### 1. What are the types of the following variables?

In [120]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

#### A:

    a: integer (or int)
    b: float
    c: list
    d: dictionary (or dict)
    e: tuple
    f: dictionary
    g: boolean (or bool)
    h: boolean
    i: string

---

### 2. What is the difference between a "mutable" and "immutable" object?

_A: Mutable objects can be altered, whereas immutable objects cannot be changed once created._

---

### 3. Print the `student_names` list.

In [121]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [122]:
print(student_names[0])
print(student_names[-1])

s1
s10

---

### 5. Print the first five names in the student list.

In [123]:
print(student_names[0:5])
print(student_names[:5])

['s1', 's2', 's3', 's4', 's5']
['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the ninth and tenth student names into a single string, separated by a space.  Assign that string to a variable.

In [124]:
var = student_names[8] + ' ' + student_names[9]
print(var)

s9 s10

In [125]:
var = '{} {}'.format(student_names[8],student_names[9])
print(var)

s9 s10

In [126]:
var = '{name1} {name2}'.format(name1=student_names[8],
                               name2=student_names[9])
print(var)

s9 s10

---

### 7. Append an animal to the list of animals.

In [127]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [128]:
animals.append('gopher')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher']

In [129]:
animals + ['gopher']

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 'gopher']

---

### 8. Print the length of the animals list.

In [130]:
print(len(animals))

7

---

### 9. Divide the length of the fifth animal by the second.

In [131]:
print(len(animals[4])/len(animals[1]))

2.3333333333333335

---

### 10. Perform the same division, but ensure output is a decimal number.

In [132]:
print(float(len(animals[4]))/len(animals[1]))

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [133]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [134]:
print(animals + numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [135]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [136]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [137]:
names.remove('kiefer')
print(names)

['doug', 'billy', 'kian', 'sam']

In [138]:
names.insert(2, 'your name')
print(names)

['doug', 'billy', 'your name', 'kian', 'sam']

In [139]:
# what happens with remove if there is more than one entry?
names = ['doug', 'billy', 'kiefer', 'kian', 'sam','kiefer','kiefer']
names.remove('kiefer')
print(names)

['doug', 'billy', 'kian', 'sam', 'kiefer', 'kiefer']

---

### 13. Sort the following list.

In [140]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [141]:
# this will not modify the list
print(sorted(mix, key=lambda x: str(x)) )

[(1, 2, 3), 12, 12.999, ['billy', 'sam'], 'a', 'flower', {'key': 'value'}]

In [142]:
print(mix)

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [143]:
mix.sort(key=lambda x: str(x))
print(mix)

[(1, 2, 3), 12, 12.999, ['billy', 'sam'], 'a', 'flower', {'key': 'value'}]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [144]:
str(mix[5]) > str(mix[2])

True

---

### 15. Find the index of `'a'` in the list.

In [145]:
mix.index('a')

4

---

### 16. Reverse the `mix` list.

In [146]:
mix.reverse()

In [147]:
print(mix)

[{'key': 'value'}, 'flower', 'a', ['billy', 'sam'], 12.999, 12, (1, 2, 3)]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [148]:
var = mix.pop()

In [149]:
print(var)
print(mix)

(1, 2, 3)
[{'key': 'value'}, 'flower', 'a', ['billy', 'sam'], 12.999, 12]

---

### 18. Count the number of times `0` appears in the following list.

In [150]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [151]:
binary.count(0)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [152]:
sf = {'sunset':94122, 'presidio':94129,
      'soma':94105, 'marina':94123}
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [153]:
soma = 'soma'
soma_zip = sf[soma]
print(soma_zip)

94105

---

### 21. Get the keys out of the dictionary.

In [154]:
keys = sf.keys()

In [155]:
print(keys)

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [156]:
kv_pairs = sf.items()

In [157]:
print(kv_pairs)

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)])

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [158]:
sf['castro'] = 94114
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114}

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [159]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [160]:
sf.update(small)
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [161]:
sunset = sf.pop('sunset')
print(sf)
print(sunset)

{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}
94122

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [162]:
'dogpatch' in sf.keys()

True

In [163]:
'dogpatch' in sf

True